@model ListaGenerics<Jugadores>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<style>
    .upload-boximport {
        font-size: 19px;
        color: white;
        background: #333333;
        border-radius: 7px;
        border: none;
        width: 100px;
        height: 40px;
        outline: none;
    }

    .upload-box {
        font-size: 16px;
        background: white;
        border-radius: 5px;
        width: 300px;
        height: 40px;
        outline: none;
    }

    ::-webkit-file-upload-button {
        font-size: 19px;
        color: white;
        background: #333333;
        padding: 6px;
        border: none;
        border-radius: 7px;
        outline: none;
    }

        ::-webkit-file-upload-button:hover {
            background: #333333;
        }

    .upload-boximport:hover {
        background: #333333;
    }
</style>






<h1>Index</h1>

<p style="float:left;">
    <a asp-action="Create">Create New</a>
</p>
<div>
    <form style="float:right" asp-controller="Jugadores" asp-action="loading" method="post" enctype="multipart/form-data">
        <h3>Subir Archivo</h3>
        <input type="submit" class="upload-boximport" value="Import" />
        <input type="file" class="upload-box" name="postedFile" /><br />
        <br />
    </form>
</div>

<table class="table">
    @{ 
        string Id = "Id";
        string nombre = "Name";
        string lastname = "Lastname";
        string Club = "Club";
        string Position = "Position";
        string Salary = "Salary";
        string Compensation = "Lastname";
    }

    <thead>
    <tr>
                <th>
                    @Id
                </th>
                <th>
                    @nombre
                </th>
                <th>
                    @lastname
                </th>
                <th>
                    @Club
                </th>
                <th>
                    @Position
                </th>
                <th>
                    @Salary
                </th>
                <th>
                    @Compensation
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        @for (int i = 0; i < Model.Cantidad; i++)
        {

            <tr>
                <td>
                    @Model.ObtenerPos(i).Data.Id
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Name
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Lastname
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Club
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Position
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Salary
                </td>
                <td>
                    @Model.ObtenerPos(i).Data.Compensation
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.ObtenerPos(i).Data.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model.ObtenerPos(i).Data.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model.ObtenerPos(i).Data.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
