@model IEnumerable<Lab1.Models.Jugadores>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<style>
    .upload-boximport {
        font-size: 19px;
        color: white;
        background: #333333;
        border-radius: 7px;
        border: none;
        width: 100px;
        height: 40px;
        outline: none;
    }

    .upload-box {
        font-size: 16px;
        background: white;
        border-radius: 5px;
        width: 300px;
        height: 40px;
        outline: none;
    }

    ::-webkit-file-upload-button {
        font-size: 19px;
        color: white;
        background: #333333;
        padding: 6px;
        border: none;
        border-radius: 7px;
        outline: none;
    }

        ::-webkit-file-upload-button:hover {
            background: #333333;
        }

    .upload-boximport:hover {
        background: #333333;
    }
</style>






<h1>Lista c#</h1>

<p style="float:left;">
    <a asp-action="Create">+ Agregar nuevo</a><br />
    <a asp-action="DownLoadFile">+ Descargar Log</a><br />
    <a asp-action="search">Búsqueda</a>
</p>
<div>
    <form style="float:right" asp-controller="Jugadores" asp-action="loading" method="post" enctype="multipart/form-data">
        <h3>Subir Archivo</h3>
        <input type="submit" class="upload-boximport" value="Import" />
        <input type="file" class="upload-box" name="postedFile" /><br />
        <br />
    </form>
</div>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compensation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compensation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
