@model IEnumerable<Lab1.Models.Jugadores>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    .buscar {
        width: 200px;
        height: 50px;
        background: #f2f2f2;
        border-color: #333333;
        border: solid 1px;
        border-radius: 4px;
        color: #333333;
        font-size: 20px;
    }

    .Botones {
        width: 100px;
        height: 50px;
        background: #f2f2f2;
        color: #333333;
        font-size: 20px;
        border-radius: 4px;
        border: none;
    }

        .Botones:hover {
            background: #333333;
            color: #f2f2f2;
        }

    .text {
        width: 300px;
        height: 50px;
        color: #333333;
        font-size: 20px;
    }
</style>

<form asp-action="search">
    <p>BUSCAR POR:</p>
    <select class="buscar" name="Buscar">
        <option name="Buscar" value="0"> Nombre, Apellido</option>

        <option name="Buscar" value="1"> Posición</option>

        <option name="Buscar" value="2"> Salario</option>

        <option name="Buscar" value="3"> Club</option>

    </select>

    <input class="text" type="search" name="Busqueda" placeholder="Ingresar...">

    <input class="Botones" asp-action="search" type="submit" value="Buscar">
</form>

<h1>Index</h1>

<p style="float:left;">
    <a asp-action="Create">Create New</a>
</p>
<div>
    <form style="float:right" asp-controller="Jugadores" asp-action="loading" method="post" enctype="multipart/form-data">
        <h3>Subir Archivo</h3>
        <input type="submit" class="upload-boximport" value="Import" />
        <input type="file" class="upload-box" name="postedFile" /><br />
        <br />
    </form>
</div>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compensation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compensation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
